<a href="https://colab.research.google.com/github/tusharsuthar4828/DataScience_Assigments/blob/main/RandomForests_Fraud_check_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#data loading
df=pd.read_csv("/content/Fraud_check.csv")
df.head()

  Undergrad Marital.Status  ...  Work.Experience  Urban
0        NO         Single  ...               10    YES
1       YES       Divorced  ...               18    YES
2        NO        Married  ...               30    YES
3       YES         Single  ...               15    YES
4        NO        Married  ...               28     NO

[5 rows x 6 columns]

In [3]:
#checking null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [4]:
df.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [5]:
#convert categorical data into numeric
from sklearn.preprocessing import LabelEncoder
Encoder=LabelEncoder()

In [6]:
df['Undergrad']=Encoder.fit_transform(df["Undergrad"])
df['Marital.Status']=Encoder.fit_transform(df["Marital.Status"])
df['Urban']=Encoder.fit_transform(df["Urban"])

In [7]:
df

     Undergrad  Marital.Status  ...  Work.Experience  Urban
0            0               2  ...               10      1
1            1               0  ...               18      1
2            0               1  ...               30      1
3            1               2  ...               15      1
4            0               1  ...               28      0
..         ...             ...  ...              ...    ...
595          1               0  ...                7      1
596          1               0  ...                2      1
597          0               0  ...                0      1
598          1               1  ...               17      0
599          0               0  ...               16      0

[600 rows x 6 columns]

In [8]:
df['income']=np.where(df['Taxable.Income']<=30000,'Risky',"Good")
df

     Undergrad  Marital.Status  Taxable.Income  ...  Work.Experience  Urban  income
0            0               2           68833  ...               10      1    Good
1            1               0           33700  ...               18      1    Good
2            0               1           36925  ...               30      1    Good
3            1               2           50190  ...               15      1    Good
4            0               1           81002  ...               28      0    Good
..         ...             ...             ...  ...              ...    ...     ...
595          1               0           76340  ...                7      1    Good
596          1               0           69967  ...                2      1    Good
597          0               0           47334  ...                0      1    Good
598          1               1           98592  ...               17      0    Good
599          0               0           96519  ...               16      0    Good

[600 rows x 7 columns]

In [9]:
df1=df.drop(columns=['Taxable.Income'],axis=1)

In [10]:
df1

     Undergrad  Marital.Status  City.Population  Work.Experience  Urban income
0            0               2            50047               10      1   Good
1            1               0           134075               18      1   Good
2            0               1           160205               30      1   Good
3            1               2           193264               15      1   Good
4            0               1            27533               28      0   Good
..         ...             ...              ...              ...    ...    ...
595          1               0            39492                7      1   Good
596          1               0            55369                2      1   Good
597          0               0           154058                0      1   Good
598          1               1           180083               17      0   Good
599          0               0           158137               16      0   Good

[600 rows x 6 columns]

In [11]:
df1['income']=Encoder.fit_transform(df1["income"])

In [12]:
df1.head(2)

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban  income
0          0               2            50047               10      1       0
1          1               0           134075               18      1       0

In [13]:
#0=GOOD 1=Risky

In [14]:
#dividing data into x & y variable 
x=df1.iloc[:,:5]
y=df1['income']

In [15]:
#spliting data into training and testing
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=23)

In [17]:
#Building Decision Tree Classifier using Entropy Criteria[C5.0]

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
model=DecisionTreeClassifier(criterion="entropy",max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [20]:
# predicting on test data set 
preds = model.predict(x_test) 

# getting the count of each category 
pd.Series(preds).value_counts()

0    177
1      3
dtype: int64

In [21]:
# Accuracy 
np.mean(preds==y_test)*100

81.11111111111111

In [22]:
#Bagging

In [23]:
# Bagged Decision Trees for Classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [24]:
kfold=KFold(n_splits=10)
cart=DecisionTreeClassifier()
num_tree=110

In [25]:
Bagging_model= BaggingClassifier(base_estimator=cart,n_estimators=num_tree)

In [26]:
Bagging_model.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=110)

In [27]:
result=cross_val_score(Bagging_model,x_train,y_train,cv=kfold)
print(result.mean())

0.730952380952381

In [28]:
Bagging_preds = Bagging_model.predict(x_test)
pd.crosstab(y_test,Bagging_preds)

col_0     0   1
income
0       129  18
1        31   2

In [29]:
# Accuracy 
np.mean(Bagging_preds==y_test)*100

72.77777777777777

In [30]:
#Random forest classification

In [31]:
#importing liabrary
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [32]:
num_trees = 60
max_features = 3

kfold=KFold(n_splits=10, random_state=4,shuffle=True)
modelr=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
modelr.fit(x_train,y_train)

RandomForestClassifier(max_features=3, n_estimators=60)

In [33]:
result=cross_val_score(modelr,x_train,y_train,cv=kfold)
print(result.mean())

0.7333333333333334

In [34]:
# predicting on test data set 
preds = modelr.predict(x_test) 

pd.crosstab(preds,y_test)

income    0   1
row_0
0       131  31
1        16   2

In [35]:
# Accuracy 
np.mean(preds==y_test)*100

73.88888888888889

In [36]:
#AdaBoost Classification

In [37]:
from sklearn.ensemble import AdaBoostClassifier

In [38]:
  num_tree=20
seed=7
kfold=KFold(n_splits=10)
modelA=AdaBoostClassifier(n_estimators=num_tree,random_state=seed)


modelA.fit(x_train,y_train)

result=cross_val_score(modelA,x_train,y_train,cv=kfold)
print(result.mean())

0.7642857142857142

In [39]:
# predicting on test data set 
preds = modelA.predict(x_test) 

pd.crosstab(preds,y_test)

income    0   1
row_0
0       146  33
1         1   0

In [40]:
# Accuracy 
np.mean(preds==y_test)*100

81.11111111111111